:root{
    --color-light-gray : rgb(235, 235, 235);
}
/* 그림자있는 박스 */
.annual-wrap{
    height: 950px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 6%);
    box-shadow: 5px 5px 15px -5px rgba(221, 221, 221);
}
.title-underline{
    color: var(--color-navy);
    border-bottom: 1px solid var(--color-light-gray);
    padding-bottom: 20px;
    margin: 45px 35px 0px 35px;
    font-weight: 600;
}
/* .annual-wrap div{border: 1px solid red;} */
/* 중앙 content */
.annual-content{
    width: 80%;
    height: 600px;
    margin-top: 80px;
}

/* 표 */
.annual-table-div{
    display: flex;
}
.annual-table{
    /* margin: 30px 0; */
    margin: 30px 20px;
}
/* common.css에 있는 호버효과 x */
.annual-wrap .table-common>tbody>tr{
    pointer-events: none;
}


/* 버튼 */
/* 마이페이지 기본 버튼 크기 */
.my-btn{width: 90px;}
.modify-btn{text-align: end;}


/* 모달 */
.modal-title{color: var(--color-navy);}
.annual-modify-modal .form-control{width: 100%;}
.modal-content{padding: 15px 20px;}